* {
  overflow: hidden;
}

.full-header {
  position: relative;
}

.top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  h1:hover {
    cursor: pointer;

  }

}

.colorTest {
  border-style: dotted;
  height: 50px;
}
