<app-header-menu></app-header-menu>
<div id="header" class="full-header">
  <div class="cover-img-text-intro">
    <div class="cover-img-position">
      <img class="cover-img" [src]="selected_img" alt="nikola-badjevic">
    </div>
    <div class="spacing-name-contact">
      <div class="word-spacing">
        <h1 class="name-text">Hello! I am Nikola</h1>
        <p class="frontDev-text1">FRONTEND</p>
        <p class="frontDev-text2">DEVELOPER</p>
      </div>
      <div class="scroll-line-socialMedia">
        <div class="scroll-text">
          <h4>SCROLL</h4>
        </div>
        <div class="vertical-line-socialMedia">
          <div class="vertical-line">
          </div>
          <div class="socialMedia-Buttons">
            <div class="circle-socialMedia">
              <a href="https://github.com/Ronin95/" target="_blank"><img src="./assets/img/media/github-logo.png" alt="github" style="width: 25px"></a>
            </div>
            <div class="circle-socialMedia">
              <a href="mailto:office@nikolabadjevic.com"><img class="mail-header-logo" src="./assets/img/media/mail-logo.png" alt="mail" style="width: 28px"></a>
            </div>
            <div class="circle-socialMedia">
              <a href="https://www.linkedin.com/in/nikolabadjevic/" target="_blank"><img src="./assets/img/media/linkedin-logo.png" alt="linkedin" style="width: 30px"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
