<div id="header" class="full-header">
  <div class="top-header">
    <div class="logo-position">
      <img src="../../assets/img/otherImgs/logo-black-background-removebg-preview.png" alt="logo" >
    </div>
    <div class="top-header-links">
      <input type="checkbox" id="active" style="display: none;">
      <label for="active" class="menu-btn"><span></span></label>
      <label for="active" class="close"></label>
      <div class="wrapper">
        <ul class="wrapper-text">
          <li><a href="#about-me">About me</a></li>
          <li><a href="#skills">Skill set</a></li>
          <li><a href="#projects">My work</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div>
      <figure class="circle"></figure>
    </div>
  </div>
  <div class="cover-img-text-intro">
    <div class="cover-img-position">
      <img class="cover-img" [src]="selected_img" alt="nikola-badjevic">
    </div>
    <div>
    <div class="word-spacing">
      <h1 class="name-text">Hello! I am Nikola</h1>
      <p class="frontDev-text1">FRONTEND</p>
      <p class="frontDev-text2">DEVELOPER</p>
    </div>
    <div class="scroll-line-socialMedia">
      <div class="scroll-text">
        <h4>SCROLL</h4>
      </div>
      <div class="vertical-line-socialMedia">
        <div class="vertical-line">
        </div>
        <div class="socialMedia-Buttons">
          <div class="circle-socialMedia">
            <a href="https://github.com/Ronin95/" target="_blank"><img src="../../assets/img/media/github-logo.png" alt="github" style="width: 25px"></a>
          </div>
          <div class="circle-socialMedia">
            <a href="mailto:n.badjevic@gmail.com"><img class="mail-header-logo" src="../../assets/img/media/mail-logo.png" alt="mail" style="width: 28px"></a>
          </div>
          <div class="circle-socialMedia">
            <a href="https://www.linkedin.com/in/nikola-badjevic-b720baa8/" target="_blank"><img src="../../assets/img/media/linkedin-logo.png" alt="linkedin" style="width: 30px"></a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
