* {
  overflow: hidden;
  font-family: 'Montserrat';
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.full-header {
  background: radial-gradient(circle at bottom, var(--color1), 1%, transparent);
  height: calc(100vh - 88px);
}

.cover-img {
  width: 640px;
}

.cover-img-text-intro {
  height: 855px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.frontDev-text1 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 120px;
  color: var(--color1);
  text-align: left;
}

.frontDev-text2 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 109px;
  color: var(--color1);
  text-align: left;
}

.spacing-name-contact {
  display: flex;
  flex-direction: column;
  // gap: 210px;
}

.scroll-line-socialMedia {
  height: 566px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.scroll-text {
  width: 150px;
  position: relative;
  left: 290px;
  margin-top: 60px;

  h4 {
    font-size: 30px;
    color: var(--color1);
  }
}

.name-text {
  color: var(--color1);
  font-size: 77px;
}

.word-spacing {
  line-height: 95px;
}

.vertical-line {
  margin-top: 80px;
  width: 3px;
  height: 430px;
  background-color: var(--color2);
  position: relative;
  // top: 90px;
  left: 350px;
}

.vertical-line-socialMedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialMedia-Buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.circle-socialMedia {
  background: linear-gradient(0.40turn, var(--color1), var(--color2));
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

  a:hover {
    animation: pulse 1s infinite;
  }
}

.mail-header-logo {
  position: relative;
  top: 2px;
}

// Galaxy Fold
@media screen and (max-width: 280px) {
  .cover-img-text-intro {
    flex-direction: column-reverse;
  }

  .word-spacing {
    padding: 0;
    width: 250px;
    height: 850px;
    position: relative;
    bottom: 20px;
    left: 15px;
  }

  .full-header {
    height: 600px;
    background: none;
  }

  .name-text {
    font-size: 19px;
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 29px;
    color: white;
    position: relative;
    bottom: 35px;
    left: 20px;
  }

  .frontDev-text2 {
    font-size: 27px;
    color: white;
    position: relative;
    bottom: 88px;
    left: 20px;
  }

  .cover-img-position img {
    width: 250px;
    position: absolute;
    top: 230px;
    right: 5px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    display: none;
  }
}

// Galaxy S9+ / Nokia Lumia 520 / iPhone 4 / iPhone 5-SE /
@media screen and (min-width: 281px) and (max-width: 320px) {
  .cover-img-text-intro {
    flex-direction: column-reverse;
  }

  .word-spacing {
    padding: 0;
    width: 300px;
    position: absolute;
    top: 60px;
    left: 20px;
  }

  .full-header {
    height: 600px;
    background: none;
  }

  .name-text {
    font-size: 25px;
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 40px;
    color: white;
    position: relative;
    bottom: 25px;
    left: 20px;
  }

  .frontDev-text2 {
    font-size: 37px;
    color: white;
    position: relative;
    bottom: 65px;
    left: 20px;
  }

  .cover-img-position img {
    width: 290px;
    position: absolute;
    top: 250px;
    right: 10px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    display: none;
  }
}

// Pixel 4 (353px)
// Galaxy Note 3/Note II/ S III/ S8 / Microsoft Lumia 950 / Moto G4 / Galaxy S8+ / Galaxy S5 (360px)
@media screen and (min-width: 321px) and (max-width: 360px) {
  .cover-img-text-intro {
    flex-direction: column-reverse;
  }

  .word-spacing {
    padding: 0;
    width: 300px;
    position: absolute;
    top: 40px;
    left: 40px;
  }

  .full-header {
    height: 600px;
    background: none;
  }

  .name-text {
    font-size: 25px;
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 40px;
    color: white;
    position: relative;
    bottom: 25px;
    left: 20px;
  }

  .frontDev-text2 {
    font-size: 37px;
    color: white;
    position: relative;
    bottom: 65px;
    left: 20px;
  }

  .cover-img-position img {
    width: 320px;
    position: absolute;
    top: 210px;
    right: 10px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    display: none;
  }
}

// iPhone SE / iPhone 6-7-8 / iPhone X
@media screen and (min-width: 361px) and (max-width: 375px) {
  .cover-img-text-intro {
    flex-direction: column-reverse;
  }

  .word-spacing {
    padding: 0;
    width: 300px;
    position: absolute;
    top: 40px;
    left: 55px;
  }

  .full-header {
    height: 600px;
    background: none;
  }

  .name-text {
    font-size: 25px;
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 40px;
    color: white;
    position: relative;
    bottom: 25px;
    left: 20px;
  }

  .frontDev-text2 {
    font-size: 37px;
    color: white;
    position: relative;
    bottom: 65px;
    left: 20px;
  }

  .cover-img-position img {
    width: 330px;
    position: absolute;
    top: 200px;
    right: 15px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    display: none;
  }
}

// LG Optimus L70 / Nexus 4
@media screen and (min-width: 376px) and (max-width: 414px) {
  .cover-img-text-intro {
    flex-direction: column-reverse;
  }

  .word-spacing {
    padding: 0;
    width: 300px;
    position: absolute;
    top: 45px;
    left: 55px;
  }

  .full-header {
    height: 600px;
    background: none;
  }

  .name-text {
    font-size: 25px;
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 40px;
    color: white;
    position: relative;
    bottom: 25px;
    left: 20px;
  }

  .frontDev-text2 {
    font-size: 37px;
    color: white;
    position: relative;
    bottom: 65px;
    left: 20px;
  }

  .cover-img-position img {
    width: 330px;
    position: absolute;
    top: 200px;
    right: 15px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    display: none;
  }
}

// Nokia N9 (480px)
@media screen and (min-width: 415px) and (max-width: 480px) {
  .cover-img-text-intro {
    flex-direction: column-reverse;
  }

  .word-spacing {
    padding: 0;
    width: 300px;
    position: absolute;
    top: 40px;
    left: 100px;
  }

  .full-header {
    height: 600px;
    background: none;
  }

  .name-text {
    font-size: 30px;
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 46px;
    color: white;
    position: relative;
    bottom: 25px;
    left: 20px;
  }

  .frontDev-text2 {
    font-size: 42px;
    color: white;
    position: relative;
    bottom: 65px;
    left: 20px;
  }

  .cover-img-position img {
    width: 330px;
    position: absolute;
    top: 200px;
    right: 40px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    display: none;
  }
}

// Surface Duo (540px)
@media screen and (min-width: 481px) and (max-width: 540px) {
  .cover-img-text-intro {
    flex-direction: column-reverse;
  }

  .word-spacing {
    padding: 0;
    width: 300px;
    position: absolute;
    top: 50px;
    left: 100px;
  }

  .full-header {
    height: 600px;
    background: none;
  }

  .name-text {
    font-size: 30px;
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 46px;
    color: white;
    position: relative;
    bottom: 25px;
    left: 20px;
  }

  .frontDev-text2 {
    font-size: 42px;
    color: white;
    position: relative;
    bottom: 65px;
    left: 20px;
  }

  .cover-img-position img {
    width: 330px;
    position: absolute;
    top: 200px;
    right: 75px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    display: none;
  }
}

// BlackBerry Playbook/ Nexus 7
@media screen and (min-width: 541px) and (max-width: 600px) {
  .cover-img-text-intro {
    flex-direction: column-reverse;
  }

  .word-spacing {
    padding: 0;
    width: 300px;
    position: absolute;
    top: 60px;
    left: 100px;
  }

  .full-header {
    height: 600px;
    background: none;
  }

  .name-text {
    font-size: 30px;
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 46px;
    color: white;
    position: relative;
    bottom: 25px;
    left: 20px;
  }

  .frontDev-text2 {
    font-size: 42px;
    color: white;
    position: relative;
    bottom: 65px;
    left: 20px;
  }

  .cover-img-position img {
    width: 330px;
    position: absolute;
    top: 200px;
    right: 115px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    display: none;
  }
}

// Microsoft Lumia 550
@media screen and (min-width: 601px) and (max-width: 640px) {
  .cover-img-text-intro {
    flex-direction: column-reverse;
  }

  .word-spacing {
    padding: 0;
    width: 300px;
    position: absolute;
    top: 60px;
    left: 170px;
  }

  .full-header {
    height: 600px;
    background: none;
  }

  .name-text {
    font-size: 30px;
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 46px;
    color: white;
    position: relative;
    bottom: 25px;
    left: 20px;
  }

  .frontDev-text2 {
    font-size: 42px;
    color: white;
    position: relative;
    bottom: 65px;
    left: 20px;
  }

  .cover-img-position img {
    width: 330px;
    position: absolute;
    top: 200px;
    right: 135px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    display: none;
  }
}

// Galaxy Tab S4
@media screen and (min-width: 641px) and (max-width: 712px) {
  .cover-img-text-intro {
    flex-direction: column-reverse;
  }

  .word-spacing {
    padding: 0;
    width: 300px;
    position: absolute;
    top: 30px;
    left: 210px;
  }

  .full-header {
    height: 600px;
    background: none;
  }

  .name-text {
    font-size: 30px;
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 46px;
    color: white;
    position: relative;
    bottom: 25px;
    left: 20px;
  }

  .frontDev-text2 {
    font-size: 42px;
    color: white;
    position: relative;
    bottom: 65px;
    left: 20px;
  }

  .cover-img-position img {
    width: 330px;
    position: absolute;
    top: 200px;
    right: 175px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    display: none;
  }
}

// iPad Mini / iPad
@media screen and (min-width: 713px) and (max-width: 768px) {
  .cover-img-text-intro {
    flex-direction: column-reverse;
  }

  .word-spacing {
    padding: 0;
    width: 300px;
    position: absolute;
    top: 40px;
    left: 265px;
  }

  .full-header {
    height: 600px;
    background: none;
  }

  .name-text {
    font-size: 30px;
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 46px;
    color: white;
    position: relative;
    bottom: 25px;
    left: 20px;
  }

  .frontDev-text2 {
    font-size: 42px;
    color: white;
    position: relative;
    bottom: 65px;
    left: 20px;
  }

  .cover-img-position img {
    width: 330px;
    position: absolute;
    top: 200px;
    right: 195px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    display: none;
  }
}

// Kindle Fire HDX / Nexus 10 (800px)
// iPad Air (820px)
@media screen and (min-width: 769px) and (max-width: 820px) {
  .cover-img-text-intro {
    flex-direction: column-reverse;
  }

  .word-spacing {
    padding: 0;
    width: 300px;
    position: absolute;
    top: 30px;
    left: 295px;
  }

  .full-header {
    height: 600px;
    background: none;
  }

  .name-text {
    font-size: 30px;
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 46px;
    color: white;
    position: relative;
    bottom: 25px;
    left: 20px;
  }

  .frontDev-text2 {
    font-size: 42px;
    color: white;
    position: relative;
    bottom: 65px;
    left: 20px;
  }

  .cover-img-position img {
    width: 330px;
    position: absolute;
    top: 200px;
    right: 195px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    display: none;
  }
}

// Surface Pro 7
@media screen and (min-width: 821px) and (max-width: 912px) {
  .cover-img-text-intro {
    flex-direction: column-reverse;
  }

  .word-spacing {
    padding: 0;
    width: 500px;
    position: absolute;
    top: 50px;
    right: 380px;
  }

  .full-header {
    height: 600px;
  }

  .name-text {
    font-size: 35px;
    color: white;
    width: 700px;
    position: relative;
    left: 46px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 55px;
    color: white;
    width: 700px;
    position: relative;
    left: 45px;
    bottom: 13px;
  }

  .frontDev-text2 {
    font-size: 50px;
    color: white;
    width: 700px;
    position: relative;
    left: 45px;
    bottom: 40px;
  }

  .cover-img-position img {
    width: 390px;
    position: absolute;
    top: 115px;
    right: 235px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    display: none;
  }
}

// Nest Hub / iPad Pro
@media screen and (min-width: 913px) and (max-width: 1024px) {
  .word-spacing {
    padding: 0;
    width: 500px;
    position: absolute;
    right: 450px;
    top: 50px;
  }

  .full-header {
    height: 600px;
  }

  .name-text {
    font-size: 35px;
    color: white;
    width: 700px;
    position: relative;
    left: 46px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 55px;
    color: white;
    width: 700px;
    position: relative;
    left: 45px;
    bottom: 13px;
  }

  .frontDev-text2 {
    font-size: 50px;
    color: white;
    width: 700px;
    position: relative;
    left: 45px;
    bottom: 40px;
  }

  .cover-img-position img {
    width: 390px;
    position: absolute;
    top: 115px;
    right: 275px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    position: absolute;
    top: 200px;
    right: 20px;
  }
}

// Nest Hub Max
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .word-spacing {
    padding: 0;
    width: 500px;
    position: absolute;
    right: 580px;
    top: 80px;
  }

  .full-header {
    height: 600px;
  }

  .name-text {
    font-size: 35px;
    color: white;
    width: 700px;
    position: relative;
    left: 46px;
    top: 20px;
  }

  .frontDev-text1 {
    font-size: 55px;
    color: white;
    width: 700px;
    position: relative;
    left: 45px;
    bottom: 13px;
  }

  .frontDev-text2 {
    font-size: 50px;
    color: white;
    width: 700px;
    position: relative;
    left: 45px;
    bottom: 40px;
  }

  .cover-img-position img {
    width: 390px;
    position: absolute;
    top: 143px;
    right: 435px;
    z-index: -1;
  }

  .scroll-line-socialMedia {
    position: absolute;
    top: 200px;
    right: 20px;
  }
}
