<div class="full-header">
  <div class="top-header">
    <div>
      <img src="../../assets/img/otherImgs/logo-black-background-removebg-preview.png" alt="logo" style="width: 200px">
    </div>
    <div class="top-header-links">
      <h1>About me</h1>
      <h1>Skill set</h1>
      <h1>My work</h1>
    </div>
  </div>
  <div>
    <div>
      <figure class="circle"></figure>
    </div>
  </div>
  <div class="cover-img-text-intro">
    <div>
      <img class="cover-img" [src]="selected_img" alt="nikola-badjevic">
    </div>
    <div>
      <div class="word-spacing">
        <h1>Hello! I am Nikola <br></h1>
        <p class="frontDev-text">Frontend</p>
        <p class="frontDev-text">Developer</p>
      </div>

      <div class="scroll-line-socialMedia">
        <div class="scroll-text">
          <h4>SCROLL</h4>
        </div>
        <div class="vertical-line-socialMedia">
          <div class="vertical-line">
          </div>
          <div class="socialMedia-Buttons">
            <div class="circle-socialMedia">

            </div>
            <div class="circle-socialMedia">

            </div>
            <div class="circle-socialMedia">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
