<div class="footer">
    <div class="footer-logo">
        <a routerLink="/">
          <img src="./assets/img/otherImgs/logo-black-background-removebg-preview.png" alt="logo" style="width: 200px">
        </a>
    </div>
    <div class="name">
      <div>
        <h3>© Nikola Badjevic 2023</h3>
      </div>
      <div>
        <p><a routerLink="/imprint" target="_blank">Imprint & Data Protection</a></p>
      </div>
    </div>
    <div class="contact-btn">
        <div class="socialMedia">
            <a href="https://github.com/Ronin95/" target="_blank"><img src="./assets/img/media/github-logo.png" alt="github" style="width: 25px"></a>
        </div>
        <div class="socialMedia">
            <a href="mailto:n.badjevic@gmail.com" target="_blank"><img src="./assets/img/media/mail-logo.png" alt="mail" style="width: 25px"></a>
        </div>
        <div class="socialMedia">
            <a href="https://www.linkedin.com/in/nikola-badjevic-b720baa8/" target="_blank"><img src="./assets/img/media/linkedin-logo.png" alt="linkedin" class="" style="width: 30px"></a>
        </div>
    </div>
</div>
