* {
  overflow: hidden;
  font-family: 'Ubuntu';
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

.btn-size button {
  border: none;
  background: none;
  width: 200px;
}

.contact {
    margin-bottom: 30px;
}

.contact-intro h1 {
  font-size: 75px;
}

.form-circle {
    background: linear-gradient(0.40turn, var(--color1), var(--color2));
    border-radius: 50%;
    height: 130px;
    width: 130px;
}

.circle-position {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-size {
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-btn {
  background-color: var(--color2);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.contact-btn::before {
  position: absolute;
  width: 250px;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  transform: skew(-30deg);
  transform-origin: bottom left;
}

.contact-btn::after {
  position: absolute;
  width: 250px;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  transform-origin: bottom right;
}

.contact-btn:hover {
  transform: scale(1.2);
}

.contact-btn:hover::before {
  width: 250px;
}

.contact-btn:hover::after {
  width: 250px;
}

.contact-intro {
    padding-left: 130px;
    padding-bottom: 60px;
}

.contact-form-text-structure {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.contact-text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 35%;
}

.form-structure-1 {
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 600px;
}

input {
  border: 2px solid;
  border-color: var(--color1);
  text-align: left;
  border-radius: 10px;
  width: 450px;
  height: 40px;
  cursor: pointer;
}

input[type="text"]:focus {
  border-bottom: var(--color2);
  animation: horizontal-shaking 0.35s 2ms;
}

input[type="text"]:focus::placeholder {
  color: var(--color2);
  // transform: translateY(-20px);
  transition: all 0.5s;
  animation: horizontal-shaking 0.35s 2ms;
}

input[type="email"]:focus {
  border-bottom: 2px solid var(--color2);
  animation: horizontal-shaking 0.35s 2ms;
}

input[type="email"]:focus::placeholder {
  color: var(--color2);
  // transform: translateY(-20px);
  transition: all 0.5s;
  animation: horizontal-shaking 0.35s 2ms;
}

textarea:focus {
  border-color: var(--color2);
  animation: horizontal-shaking 0.35s 2ms;
}

textarea:focus::placeholder {
  color: var(--color2);
  // transform: translateY(-20px);
  transition: all 0.5s;
  animation: horizontal-shaking 0.35s 2ms;
}

.input-size {
  height: 60px;
  width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  border: 2px solid;
  border-color: var(--color1);
  text-align: left;
  border-radius: 10px;
  width: 450px;
  height: 100px;
  resize: none;
  cursor: pointer;
}

.textarea-size {
  height: 140px;
  width: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt {
    padding-left: 20px;

    &:hover {
      border: 4px solid var(--color1);
    }
}


.txtarea {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  &:hover {
    border: 4px solid var(--color1);
  }
}

.textarea-size {
  height: 180px;
  width: 500px;
  padding: 0;
  margin: 0;
}

.textarea-size textarea {
  width: 430px;
}


.contact-circles {
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.scroll-up-circle {
  background: linear-gradient(0.40turn, var(--color1), var(--color2));
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: var(--color1);
  }
}

.scroll-up-circle img {
  width: 15px;

  &:hover {
    color: var(--color1);
  }
}

.bottom-circle {
  background: linear-gradient(0.40turn, var(--color1), var(--color2));
  border-radius: 50%;
  height: 50px;
  width: 50px;
}


// @media screen and (max-width: 375px) {
//   .contact {
//     position: relative;
//     bottom: 40px;
//     height: 740px;
//     margin: 0;
//     padding: 0;
//   }

//   .contact-intro {
//     height: 5px;

//     h1 {
//       font-size: 40px;
//       position: relative;
//       right: 110px;
//       padding: 0;
//     }
//   }

//   .circle-position {
//     display: none;
//   }

//   .form-circle {
//     display: none;
//   }

//   .txtarea {
//     width: 230px;
//   }

//   .circle-position-3 {
//     width: 100%;
//     height: 100%;
//     z-index: -999;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     left: 50px;
//     top: 95px;

//   }

//   .form-circle-3 {
//     background: linear-gradient(0.40turn, var(--color1), var(--color2));
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     right: 50px;
//     height: 90px;
//     width: 90px;
//   }

//   .contact-text {
//     width: 80%;
//     position: relative;
//     left: 5px;
//   }

//   input, textarea {
//     width: 250px;
//   }

//   .contact-form-text-structure {
//     flex-direction: column;
//   }

//   .form-structure-1 {
//     height: fit-content;
//     width: 300px;
//     position: relative;
//     left: 6px;
//     bottom: 20px;
//     gap: 0;
//   }

//   .name-position {
//     padding: 0;
//     width: max-content;
//     position: relative;
//     bottom: 40px;
//   }

//   .email-position {
//     padding: 0;
//     width: max-content;
//     position: relative;
//     bottom: 35px;
//   }

//   .txtarea-position {
//     width: max-content;
//     position: relative;
//     bottom: 30px;
//   }

//   .textarea-size textarea {
//     width: 230px;
//   }

//   .btn-size {
//     position: relative;
//     bottom: 40px;
//   }

//   .contact-circles {
//     width: 80%;
//     justify-content: space-between;
//     padding-left: 10px;
//     padding-right: 10px;
//     position: relative;
//     left: 15px;
//     bottom: 70px;
//   }

// }

// @media screen and (min-width: 321px) and (max-width: 375px) {
//   .contact {
//     position: relative;
//     bottom: 40px;
//     height: 740px;
//     margin: 0;
//     padding: 0;
//   }

//   .textarea-size textarea {
//     width: 280px;
//   }

//   .contact-intro {
//     height: 5px;

//     h1 {
//       font-size: 40px;
//       position: relative;
//       right: 100px;
//       padding: 0;
//     }
//   }

//   .circle-position {
//     display: none;
//   }

//   .form-circle {
//     display: none;
//   }

//   .circle-position-3 {
//     width: 100%;
//     height: 100%;
//     z-index: -999;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     left: 50px;
//     top: 95px;

//   }

//   .form-circle-3 {
//     background: linear-gradient(0.40turn, var(--color1), var(--color2));
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     right: 50px;
//     height: 90px;
//     width: 90px;
//   }

//   .contact-text {
//     width: 80%;
//     position: relative;
//     right: 40px;
//   }

//   input, textarea {
//     width: 300px;
//   }

//   .contact-form-text-structure {
//     flex-direction: column;
//   }

//   .form-structure-1 {
//     height: fit-content;
//     width: 360px;
//     position: relative;
//     left: 5px;
//     bottom: 20px;
//     gap: 0;
//   }

//   .name-position {
//     padding: 0;
//     width: max-content;
//     position: relative;
//     bottom: 40px;
//   }

//   .email-position {
//     padding: 0;
//     width: max-content;
//     position: relative;
//     bottom: 35px;
//   }

//   .txtarea-position {
//     width: max-content;
//     position: relative;
//     bottom: 30px;
//   }

//   .btn-size {
//     position: relative;
//     bottom: 30px;
//   }

//   .contact-circles {
//     justify-content: space-between;
//     padding-left: 10px;
//     padding-right: 10px;
//     position: relative;
//     bottom: 40px;
//   }

// }

// @media screen and (min-width: 376px) and (max-width: 425px) {
//   .contact {
//     position: relative;
//     bottom: 40px;
//     height: 740px;
//     margin: 0;
//     padding: 0;
//   }

//   .textarea-size textarea {
//     width: 280px;
//   }

//   .contact-intro {
//     height: 5px;

//     h1 {
//       font-size: 40px;
//       position: relative;
//       right: 100px;
//       padding: 0;
//     }
//   }

//   .circle-position {
//     display: none;
//   }

//   .form-circle {
//     display: none;
//   }

//   .circle-position-3 {
//     width: 100%;
//     height: 100%;
//     z-index: -999;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     left: 50px;
//     top: 95px;

//   }

//   .form-circle-3 {
//     background: linear-gradient(0.40turn, var(--color1), var(--color2));
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     right: 50px;
//     height: 90px;
//     width: 90px;
//   }

//   .contact-text {
//     width: 80%;
//     position: relative;
//     left: 35px;
//   }

//   input, textarea {
//     width: 300px;
//   }

//   .contact-form-text-structure {
//     flex-direction: column;
//   }

//   .form-structure-1 {
//     height: fit-content;
//     width: 410px;
//     position: relative;
//     left: 8px;
//     bottom: 20px;
//     gap: 0;
//   }

//   .name-position {
//     padding: 0;
//     width: max-content;
//     position: relative;
//     bottom: 40px;
//   }

//   .email-position {
//     padding: 0;
//     width: max-content;
//     position: relative;
//     bottom: 35px;
//   }

//   .txtarea-position {
//     width: max-content;
//     position: relative;
//     bottom: 30px;
//   }

//   .btn-size {
//     position: relative;
//     bottom: 20px;
//   }

//   .contact-circles {
//     justify-content: space-between;
//     padding-left: 10px;
//     padding-right: 10px;
//     position: relative;
//     bottom: 30px;
//   }

// }

// @media screen and (min-width: 426px) and (max-width: 768px) {
//   .contact {
//     position: relative;
//     bottom: 40px;
//     height: 740px;
//     margin: 0;
//     padding: 0;
//   }

//   .textarea-size textarea {
//     width: 560px;
//   }

//   .contact-intro {
//     height: 5px;

//     h1 {
//       font-size: 50px;
//       position: relative;
//       right: 60px;
//       padding: 0;
//     }
//   }

//   .circle-position {
//     display: none;
//   }

//   .form-circle {
//     display: none;
//   }

//   .circle-position-3 {
//     width: 100%;
//     height: 100%;
//     z-index: -999;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     left: 50px;
//     top: 95px;

//   }

//   .form-circle-3 {
//     background: linear-gradient(0.40turn, var(--color1), var(--color2));
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     right: 50px;
//     height: 140px;
//     width: 140px;
//   }

//   .contact-text {
//     padding-top: 20px;
//     width: 80%;
//     position: relative;
//     left: 75px;
//   }

//   input, textarea {
//     width: 580px;
//   }

//   .contact-form-text-structure {
//     flex-direction: column;
//   }

//   .form-structure-1 {
//     height: fit-content;
//     width: 750px;
//     position: relative;
//     left: 8px;
//     bottom: 20px;
//     gap: 0;
//   }

//   .name-position {
//     padding: 0;
//     width: max-content;
//     position: relative;
//     bottom: 40px;
//   }

//   .email-position {
//     padding: 0;
//     width: max-content;
//     position: relative;
//     bottom: 35px;
//   }

//   .txtarea-position {
//     width: max-content;
//     position: relative;
//     bottom: 30px;
//   }

//   .btn-size {
//     position: relative;
//     bottom: 20px;
//   }

//   .contact-circles {
//     justify-content: space-between;
//     padding-left: 10px;
//     padding-right: 10px;
//     position: relative;
//     bottom: 50px;
//   }

// }

// @media screen and (min-width: 769px) and (max-width: 1024px) {
//   .contact-form-text-structure {
//     position: relative;
//     left: 30px;
//     gap: 0;
//     padding: 0;
//     margin: 0;
//     width: 1000px;
//   }

//   .contact-text {
//     position: relative;
//     left: 50px;
//   }

//   .contact-intro {
//     padding-left: 80px;
//     padding-bottom: 20px;
//   }

// }
