<div id="contact" class="contact">
    <div class="contact-intro">
        <h1 style="color: var(--color2)">Contact</h1>
    </div>
    <div class="contact-form-text-structure">
      <div class="contact-text">
          <div class="contact-text-h2">
            <h2 style="color: var(--color2)">Got a problem to solve?</h2>
          </div>
          <div>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
          </div>
          <div>
            <p style="color: var(--color1)">Need a Frontend Developer? <strong style="color: var(--color2)" href="mailto:n.badjevic@gmail.com">Contact me!</strong></p>
          </div>
          <div class="circle-position">
            <figure class="form-circle"></figure>
          </div>
      </div>
      <div>
        <form>
          <div class="form-structure-1">
            <div class="input-size">
              <input required type="text" class="txt" id="name" name="user_name" placeholder="Your name" />
            </div>
            <div class="input-size">
              <input required type="email" class="txt" id="mail" name="user_email" placeholder="Your email" />
            </div>
            <div class="textarea-size">
              <textarea required id="msg" class="txtarea" name="user_message" placeholder="Your message..."></textarea>
            </div>
            <div class="btn-size">
              <a type="submit" class="contact-btn">Contact</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="contact-circles">
      <div class="scroll-up-circle">
        <a href="#header">
          <img src="../../assets/img/media/scroll-up.png" alt="scroll-up">
        </a>
      </div>
      <div class="circle-position-2">
        <figure class="bottom-circle"></figure>
      </div>
    </div>
</div>
