.form-circle {
    background: linear-gradient(0.40turn, var(--color1), var(--color2));
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.contact-intro {
    padding-left: 100px;
    padding-bottom: 60px;
}

.contact-form-structure {
    display: flex;
    justify-content: space-evenly;
}

.contact-text {
    padding-left: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


input[type=text], input[type=email] {
    width: 80%;
    border: 2px solid var(--color1);
    border-radius: 5px;
    height: 40px;
}

