<div>
    <h1 style="color: var(--color2)">Contact</h1>
    <div>
        <h2 style="color: var(--color2)">Got a problem to solve?</h2>
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
        <p style="color: var(--color1)">Need a Frontend Developer? <strong style="color: var(--color2)" href="mailto:n.badjevic@gmail.com">Contact me!</strong></p>
        <figure class="form-circle"></figure>
    </div>
    <div>
        <form>
            
        </form>
    </div>
</div>