<div id="contact" class="contact">
  <div class="contact-intro">
      <h1 style="color: var(--color2)">Contact</h1>
  </div>
  <div class="contact-form-text-structure">
    <div class="contact-text">
      <div class="contact-text-h2">
        <h2 style="color: var(--color2)">Got a problem to solve?</h2>
      </div>
      <div class="contact-text-p">
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
      </div>
      <div class="contact-text-contact">
        <p style="color: var(--color1)">Need a Frontend Developer? <span><strong style="color: var(--color2)">Contact me!</strong></span></p>
      </div>
      <div class="circle-position">
        <figure class="form-circle"></figure>
      </div>
    </div>
    <div class="form-positioning">
      <div class="circle-position-3">
        <figure class="form-circle-3"></figure>
      </div>
      <!--[formGroup]="contactForm"-->
      <form class="form-structure" #myForm="ngForm" (ngSubmit)="onSubmit()">
        <input
          type="text" id="name" name="name" ngModel required  #nameField
          class="horizontal-shake txt"
          placeholder="Your name" />
        <input
          type="email" id="email" name="email" ngModel required #emailField
          class="horizontal-shake txt"
          placeholder="Your email" />
        <textarea
          id="message" name="message" ngModel required #messageField
          class="horizontal-shake txt"
          placeholder="Your message..."></textarea>
        <button #sendButton type="submit" id="sendButton" [disabled]="!myForm.valid">
          <a class="contact-btn">Contact</a>
        </button>
      </form>
      <div class="check-marker">
        <img id="check-marker" src="./assets/img/media/check_mark.png" alt="check-marker">
      </div>
    </div>
  </div>
  <div class="contact-circles">
    <div class="scroll-up-circle">
      <a href="#header">
        <img src="./assets/img/media/scroll-up.png" alt="scroll-up">
      </a>
    </div>
    <div class="circle-position-2">
      <figure class="bottom-circle"></figure>
    </div>
  </div>
</div>
