<div class="container">
  <details>
    <summary>
      <div class="button">
       Imprint
      </div>
      <div class="details-modal-overlay"></div>
    </summary>
    <div class="details-modal">
      <div class="details-modal-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z" fill="black" />
        </svg>
      </div>
      <div class="details-modal-title">
        <h1>Impressum</h1>
      </div>
      <div class="details-modal-content">
	<p>
		Informationspflicht laut §5 E-Commerce Gesetz und Offenlegungspflicht laut §25 Mediengesetz
	</p>
	<p>
		Nikola Badjevic		<br>
		Wilhelmstrasse 48 		<br>
		1120 Wien		<br>
		Österreich
	</p>
	<p>
				Tel: +436764910519		<br>		E-Mail: <a href="mailto:n.badjevic%40gmail.com">n.badjevic@gmail.com</a>	</p>

<br>
<div id="email_kooperatioen">
    <h2>
		Erlaubnis für unaufgeforderte Zusendungen
	</h2>
    <p>
		Sie haben die temporäre Erlaubnis uns unaufgeforderte Zusendung in Form von Werbung Ihrer Produkte, Kooperationsanfragen oder Partnerschaftsanfragen zuzusenden. Dafür wurde ein eigenes E-Mail Postfach eingerichtet, welches Sie unter <a href="mailto:n.badjevic%40gmail.com">n.badjevic@gmail.com</a> erreichen können. Mit diesem Postfach ist eine temporäre Einwilligung des Empfängers zur Zusendung von Informationsmaterial bis auf Widerruf gestattet. Ein etwaiger Widerruf hat zur Folge, dass keine weiteren Zusendungen oder Kontaktaufnahmen ab dem Zeitpunkt der Bekanntgabe erfolgen dürfen.
	</p>
</div>



<br>
<div id="copyright">
    <h2>
		Copyright &amp; Urheberrechtshinweis
	</h2>
	<p>
		Alle Inhalte dieser Webpräsenz, insbesondere Texte, Fotografien und Grafiken, sind urheberrechtlich geschützt und teilweise lizensiert. Das Urheberrecht liegt, soweit nicht ausdrücklich anders gekennzeichnet, bei der im Impressum angeführten natürlichen bzw. juristischen Person. Bitte fragen Sie uns, falls Sie die Inhalte dieses Internetangebotes in irgendeiner Art und Weise verwenden möchten.</p><p>Unter der „Creative Commons“-Lizenz“ veröffentlichte Inhalte, sind als solche gekennzeichnet. Sie dürfen entsprechend den angegebenen Lizenzbedingungen verwendet werden.</p><p>Wer gegen das Urheberrecht verstößt (z.B. Bilder oder Texte unerlaubt kopiert), macht sich unter Umständen gem. UrhG strafbar.
	</p>
</div>

<br>
<div id="haftung_links">
    <h2>
		Haftungsausschluss für ausgehende Links
	</h2>
    <p>
		Diese Webpräsenz enthält, so wie viele andere Webseiten ebenfalls, so genannte Links auf andere, fremde Webpräsenzen und Inhalte. Das wird als Urgedanke des Internets und des weltweiten Informationsaustauschs als gang und gäbe angesehen. Rechtlich und technisch gesehen haben wir als Betreiber unserer Webseite keinen Einfluss auf die Gestaltung sowie den Inhalt der verlinkten Webpräsenzen. Aus diesem Grund können wir zu keinem Zeitpunkt für diese Webpräsenzen in irgendeiner Art und Weise Haftung oder Gewähr übernehmen, da diese im Verantwortungsbereich des jeweiligen Betreibers angesiedelt ist.
	</p><p>
	Zum Zeitpunkt der Verlinkung wurden die fremden Inhalte auf Funktionalität, rechtswidrige Inhalte sowie uns möglich auf Schadsoftware überprüft. Als Indiz finden Sie bei einigen Links einen Datumsstempel der auf den Zeitpunkt der gesetzten Verlinkung hinweist. Nichts desto trotz sind wir bemüht unsere Besucher vor rechtswidrigen Inhalten und Schadsoftware zu schützen weshalb wir stichprobenartig die gesetzten Links in wiederkehrenden Intervallen untersuchen. Bei etwaigen Rechtsverletzungen werden die gesetzten Links selbstverständlich umgehend entfernt.</p><p>Sollten Sie einen derartigen Link vor unserer Überprüfung gefunden haben, so bitten wir um umgehende Benachrichtigung an die im Impressum angezeigten Kontaktdaten. Bitte übermitteln Sie uns dabei den Link unserer Webseite die den fragwürdigen Verweis enthält, sowie die Art der Kennzeichnung (a) rechtwidriger Inhalt, b) Schadsoftware oder c) inaktiver Inhalt bzw. Verweis).
	</p>
</div>

<br>
<div id="ihre_rechte">
    <h2>
		Ihre Rechte
	</h2>
    <p>
		Ihnen stehen bezüglich Ihrer bei uns gespeicherten Daten grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der oben genannten E-Mail-Adresse oder Ihrer Datenschutzbehörde beschweren.
	</p>
</div>
      </div>
    </div>
  </details>
</div>
