<div>
    <div class=" section1">
        <figure class="circle1"></figure>
        <div class="work-text">
            <div>
                <h1 style="color: var(--color2)">My work</h1>
            </div>
            <div>
                <p>This page is a sample of my work - please feel free to try them out.</p>
            </div>
        </div>
        <figure class="circle2"></figure>
    </div>
    <div class=" section2">
        <div class="join">
            <div class="join-img">
                <img src="../../assets/img/otherImgs/Join.png" alt="join-task-manager">
            </div>
            <div class="project-info">
                <h1 style="color: var(--color2)">Join</h1>
                <h3 style="color: var(--color1)">HTML | CSS | Bootstrap | JavaScript</h3>
                <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
                <div class="project-buttons">
                    <button><a href="https://github.com/Ronin95/Join/tree/nikola" target="_blank">Github</a></button>
                    <button><a href="" target="_blank">Website</a></button>
                </div>
            </div>
        </div>
        <figure class="circle3"></figure>
    </div>
    <div class=" section3">
        <div class="el-pollo-loco">
            <div class="project-info el-pollo-loco-info">
                <h1 style="color: var(--color2)">El Pollo Loco</h1>
                <h3 style="color: var(--color1)"> HTML | CSS | JavaScript</h3>
                <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</p>
                <div class="project-buttons">
                    <button><a href="https://github.com/Ronin95/El-Pollo-Loco" target="_blank">Github</a></button>
                    <button><a href="https://www.nikolabadjevic.com/projects/El-Pollo-Loco/index.html" target="_blank">Website</a></button>
                </div>
                <figure class="circle4"></figure>
            </div>
            <div class="el-pollo-loco-img">
                <img src="../../assets/img/otherImgs/ElPolloLoco.png" alt="el-pollo-loco">
            </div>
        </div>
        <figure class="circle5"></figure>
    </div>
</div>
