* {
    overflow: hidden;
}

.section1 {
    height: 300px;
}

.section2 {
    height: 400px;
}

.section3 {
    height: 440px;
}

.work-text {
    margin-top: 20px;
    margin-left: 140px;
    gap: 40px;
    display: flex;
    width: 33%;
    flex-direction: column;
    justify-content: center;
}

.work-text-small {
    color: var(--color2);
    font-family: "Montserrat-ExtraBold";
    font-size: 30px;
    font-weight: bold;
}

.circle1 { // the color circle that changes its color
    z-index: -1;
    background: linear-gradient(0.40turn, var(--color1), var(--color2));
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: relative;
    left: 490px;
    top: 50px;
}

.circle2 { // the color circle that changes its color
    z-index: -1;
    background: linear-gradient(0.40turn, var(--color1), var(--color2));
    border-radius: 50%;
    height: 130px;
    width: 130px;
    position: relative;
    left: 1100px;
    bottom: 60px;
}

.join {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding-right: 140px;
    padding-left: 140px;
}

.join-img img {
    max-width:100%;
    max-height:100%;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.project-buttons button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent;
    border-radius: 10px;
    color: var(--color1);
    border-color: var(--color1);
    font-weight: bold;
    cursor: pointer;
}

.circle3 {
    z-index: -1;
    background: linear-gradient(0.40turn, var(--color1), var(--color2));
    border-radius: 50%;
    height: 290px;
    width: 290px;
    position: relative;
    right: 110px;
    bottom: 210px;
}

.el-pollo-loco {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding-right: 140px;
    padding-left: 140px;
}

.el-pollo-loco-info {
    align-items: flex-end;
}

.el-pollo-loco-img img {
    max-width:100%;
    max-height:100%;
}

.circle4 {
    z-index: -1;
    background: linear-gradient(0.40turn, var(--color1), var(--color2));
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    right: 480px;
}

.circle5 {
    z-index: -1;
    background: linear-gradient(0.40turn, var(--color1), var(--color2));
    border-radius: 50%;
    height: 420px;
    width: 420px;
    position: relative;
    left: 1100px;
    bottom: 290px;
}