<div id="projects" class="projects">
    <div class=" section1">
        <figure class="circle1"></figure>
        <div class="work-text">
            <div class="work-text-small">
                <h1>My work</h1>
            </div>
            <div class="work-text-p">
                <p>This page is a sample of my work - please feel free to try them out.</p>
            </div>
        </div>
        <figure class="circle2"></figure>
    </div>
    <div class=" section2">
        <div class="join">
            <div class="join-img img-magnifier-container">
                <img src="./assets/img/otherImgs/Join.png" alt="join-task-manager">
            </div>
            <div class="project-info join-info">
                <h1 style="color: var(--color2)">Join</h1>
                <h3 style="color: var(--color1)">HTML | CSS | Bootstrap | JavaScript</h3>
                <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
                <div class="project-buttons">
                    <div class="project-buttons-a join-btn">
                      <a class="btn" href="https://github.com/Ronin95/join" target="_blank">Github</a>
                    </div>
                    <!-- <div class="project-buttons-a join-btn">
                      <a class="btn" href="https://www.nikolabadjevic.com/Join/Join/index.html" target="_blank">Live Demo</a>
                    </div> -->
                </div>
            </div>
        </div>
        <figure class="circle3"></figure>
    </div>
    <div class=" section3">
        <div class="el-pollo-loco">
            <div class="project-info el-pollo-loco-info">
                <h1 style="color: var(--color2)">El Pollo Loco</h1>
                <h3 style="color: var(--color1)"> HTML | CSS | JavaScript</h3>
                <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</p>
                <div class="project-buttons el-pollo-loco-btn">
                    <div class="project-buttons-a elpolloloco-btn">
                      <a class="btn" href="https://github.com/Ronin95/El-Pollo-Loco" target="_blank">Github</a>
                    </div>
                    <div class="project-buttons-a elpolloloco-btn">
                      <a class="btn" href="https://www.nikolabadjevic.com/El-Pollo-Loco/El-Pollo-Loco/index.html" target="_blank">Live Demo</a>
                    </div>
                </div>
                <figure class="circle4"></figure>
            </div>
            <div class="el-pollo-loco-img img-magnifier-container">
                <img src="./assets/img/otherImgs/ElPolloLoco.png" alt="el-pollo-loco">
            </div>
        </div>
        <figure class="circle5"></figure>
    </div>
    <div class="section4 slack">
        <figure class="circle6"></figure>
        <div class="join-img">
            <img src="./assets/img/otherImgs/slack.png" alt="slack-clone">
        </div>
        <div class="project-info join-info">
            <h1 style="color: var(--color2)">Slack Clone</h1>
            <h3 style="color: var(--color1)">HTML | SCSS | TypeScript | OpenAI API | Weather API | Firebase | Angular</h3>
            <p>The developed Slack clone contains channels, threads, direct messages and integrations for the OpenAI API and Weather API.</p>
            <div class="project-buttons">
                <div class="project-buttons-a join-btn">
                    <a class="btn" href="https://github.com/Ronin95/slack-clone" target="_blank">Github</a>
                </div>
                <div class="project-buttons-a join-btn">
                    <a class="btn" href="https://slackclone.nikolabadjevic.com/" target="_blank">Live Demo</a>
                </div>
            </div>
        </div>
        <figure class="circle7"></figure>
        <figure class="circle8"></figure>
    </div>
    <div class="section5 ">
        <figure class="circle9"></figure>
        <div class="el-pollo-loco restaurant-style">
            <div class="project-info el-pollo-loco-info restaurant-info">
                <h1 style="color: var(--color2)">Top Grill Restaurant</h1>
                <h3 style="color: var(--color1)"> HTML | SCSS | TypeScript | Material Design | Angular</h3>
                <p>I've developed a website for my parents grill restaurant. The website is in German only, because the restaurant is in Vienna, Austria. </p>
                <div class="project-buttons restaurant-btn ">
                    <div class="project-buttons-a ">
                        <a class="btn" href="https://www.nikolabadjevic.com/topgrill/" target="_blank">Live Demo</a>
                    </div>
                </div>
            </div>
            <div class="el-pollo-loco-img ">
                <img src="./assets/img/otherImgs/restaurant.png" alt="grill-restaurant">
            </div>
        </div>
        <figure class="circle10"></figure>
    </div>
</div>
