<div>
    <!-- <div class="bstyle">
        <div class="bstyle circle1-pos">
            <figure class="circle1"></figure>
        </div>
        <div class="bstyle circle2-pos">
            <figure class="circle2"></figure>
        </div>
        <div class="bstyle circle3-pos">
            <figure class="circle3"></figure>
        </div>
        <div class="bstyle circle4-pos">
            <figure class="circle4"></figure>
        </div>
        <div class="bstyle circle5-pos">
            <figure class="circle5"></figure>
        </div>
    </div> -->
</div>
