* {
  overflow: hidden;
  font-family: 'Montserrat';
}

.skills {
  background: linear-gradient(0.40turn, var(--color1), var(--color2));
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.title-skill-set {
  display: flex;
  justify-content: center;
  font-size: 38px;
  color: white;
}

.skills-ordering {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
}

.individual-skill-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 110px;
  gap: 5px;
  height: 150px;
  color: white;
  cursor: no-drop;

  h2 {
    font-weight: 400;
  }
}

.python-img img {
  width: 75px;
}

.pointer-img-h2 {
  &:hover img {
    transform:translate(0px, -15px);
  }

  &:hover h2 {
    font-weight: 600;
  }
}


@media screen and (max-width: 320px) {
  .title-skill-set {
    font-size: 22px;
  }

  .skills-ordering {
    padding: 0;
    gap: 20px;
  }

  .individual-skill-position {
    max-width: 70px;
    max-height: 125px;

    img {
      width: 50px;
    }

    h2 {
      font-size: 20px;
    }
  }
}


@media screen and (min-width: 321px) and (max-width: 375px) {
  .title-skill-set {
    font-size: 22px;
  }

  .skills-ordering {
    padding: 0;
    gap: 20px;
  }

  .individual-skill-position {
    max-width: 70px;
    max-height: 125px;

    img {
      width: 50px;
    }

    h2 {
      font-size: 20px;
    }
  }
}
