<div id="skills" class="skills">
  <div class="title-skill-set">
    <h1>Skill set</h1>
  </div>
  <div class="skills-ordering">
    <div class="individual-skill-position pointer-img-h2">
      <img src="./assets/img/media/Angular.png" alt="angular">
      <h2>Angular</h2>
    </div>
    <div class="individual-skill-position pointer-img-h2">
      <img src="./assets/img/media/TypeScript.png" alt="typescript">
      <h2>TypeScript</h2>
    </div>
    <div class="individual-skill-position pointer-img-h2">
      <img src="./assets/img/media/Javascript.png" alt="javascript">
      <h2>JavaScript</h2>
    </div>
    <div class="individual-skill-position pointer-img-h2">
      <img src="./assets/img/media/html.png" alt="html">
      <h2>HTML</h2>
    </div>
    <div class="individual-skill-position pointer-img-h2">
      <img src="./assets/img/media/scrum.png" alt="scrum">
      <h2>Scrum</h2>
    </div>
    <div class="individual-skill-position firebase pointer-img-h2">
      <img src="./assets/img/media/Firebase.png" alt="firebase">
      <h2>Firebase</h2>
    </div>
    <div class="individual-skill-position pointer-img-h2 python-img">
      <img src="./assets/img/media/python.png" alt="python">
      <h2>Python</h2>
    </div>
    <div class="individual-skill-position pointer-img-h2">
      <img src="./assets/img/media/git.png" alt="git">
      <h2>Git</h2>
    </div>
    <div class="individual-skill-position pointer-img-h2">
      <img src="./assets/img/media/CSS.png" alt="css">
      <h2>CSS</h2>
    </div>
    <div class="individual-skill-position pointer-img-h2">
      <img src="./assets/img/media/api.png" alt="css">
      <h2>Several APIs</h2>
    </div>
    <div class="individual-skill-position pointer-img-h2 mt-design">
      <img src="./assets/img/media/MaterialDesign.png" alt="css">
      <h2>Material Design</h2>
    </div>
  </div>
</div>
