* {
  font-family: 'Montserrat';
}

.imprint-style {
  padding: 50px;
  background: radial-gradient(circle at bottom, var(--color1), 1%, transparent);
}

@media screen and (max-width: 375px) {
  .imprint-style {
    margin: 0;
    padding: 20px;
  }

}
