<div class="header-aboutme-circle-position">
  <figure class="header-aboutme-circle"></figure>
</div>
<div class="about-me">
  <div><h1>Let's work together</h1></div>
  <div>
    <div class="random-circle-position">
      <figure class="random-circle"></figure>
    </div>
    <div class="about-me-text">
      <p>I am a Frontend developer based in Vienna, Austria.<br>
        I enjoy helping designers and companies bring their ideas into real life.<br>
        I am looking forward to continuing my developer position.<br><br>
        If you think I'd be a good match for your projects, contact me!
        </p>
        <div>
          <button class="contact-btn">Send a message</button>
        </div>
    </div>
  </div>
</div>
