<div id="about-me" class="header-aboutme-circle-position">
  <figure class="header-aboutme-circle"></figure>
  <div class="random-circle-position">
    <figure class="random-circle"></figure>
  </div>
</div>
<div class="about-me">
  <div class="work-together-text">
    <h3>Let's work together</h3>
    <!-- <h3>together</h3> -->
  </div>
  <div class="about-me-text">
    <div class="about-me-desc ">
      <p>
        I am a Frontend developer based in Vienna, Austria.<br>
        I enjoy helping designers and companies bring their ideas into real life.<br>
        I am looking forward to continuing my developer position.<br><br>
        If you think I'd be a good match for your projects, contact me!
      </p>
    </div>
    <div class="btn-size">
      <a href="#contact" class="btn">Send a message</a>
    </div>
  </div>
</div>
