* {
  overflow: hidden;
  font-family: "Montserrat";
}

.header-aboutme-circle-position {
  z-index: 1;
  position: relative;
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-aboutme-circle {
  background: linear-gradient(0.40turn, var(--color1), var(--color2));
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 80px;
  height: 300px;
}

.random-circle-position {
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 15px;
  position: relative;
  left: 250px;
  bottom: 50px;
}

.random-circle {
  background: linear-gradient(0.40turn, var(--color1), var(--color2));
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.about-me-text {
  padding-right: 80px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  font-weight: bold;
}

.btn-size {
  width: 220px;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: var(--color2);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.btn::before {
  position: absolute;
  width: 250px;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  transform: skew(-30deg);
  transform-origin: bottom left;
}

.btn::after {
  position: absolute;
  width: 250px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  transform-origin: bottom right;
}

.btn:hover {
  transform: scale(1.2);
}

.btn:hover::before {
  width: 250px;
}

.btn:hover::after {
  width: 250px;
}

.work-together-text {
  padding-left: 60px;
  color: var(--color2);
  font-size: 35px;
  font-style: italic;
  position: relative;
  bottom: 30px;
}

.about-me-desc {
  padding-right: 40px;
}

// Galaxy Fold
@media screen and (max-width: 280px) {
  .header-aboutme-circle-position {
    bottom: 150px;
  }
}

// @media screen and (max-width: 320px) {
//   .about-me {
//     padding-top: 20px;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 470px;
//   }

//   .random-circle-position {
//     left: 100px;
//     bottom: 20px;
//   }

//   .work-together-text {
//     font-size: 22px;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: left;
//     flex-direction: column;
//     position: relative;
//     bottom: 20px;
//   }

//   .about-me-desc {
//     width: 270px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding-top: 30px;
//     padding-bottom: 30px;

//     p {
//       position: relative;
//       left: 70px;
//       padding: 0;
//       font-size: 17px;
//     }
//   }

//   .btn-size {
//     position: relative;
//     left: 40px;
//     bottom: 10px;
//   }
// }

// @media screen and (min-width: 321px) and (max-width: 375px) {
//   .about-me {
//     padding-top: 20px;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 630px;
//   }

//   .random-circle-position {
//     left: 100px;
//     bottom: 20px;
//   }

//   .work-together-text {
//     font-size: 22px;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: left;
//     flex-direction: column;
//     position: relative;
//     bottom: 20px;
//   }

//   .about-me-desc {
//     width: 300px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding-top: 30px;
//     padding-bottom: 30px;

//     p {
//       position: relative;
//       left: 55px;
//       padding: 0;
//       font-size: 20px;
//     }
//   }

//   .about-me-text {
//     gap: 90px;
//   }

//   .btn-size {
//     position: relative;
//     left: 40px;
//     bottom: 20px;
//   }
// }

// @media screen and (min-width: 376px) and (max-width: 425px) {
//   .about-me {
//     padding-top: 20px;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 630px;
//   }

//   .random-circle-position {
//     left: 100px;
//     bottom: 20px;
//   }

//   .work-together-text {
//     padding-left: 100px;
//     font-size: 22px;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: left;
//     flex-direction: column;
//     position: relative;
//     bottom: 40px;
//   }

//   .about-me-desc {
//     position: relative;
//     left: 40px;
//     width: 350px;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     p {
//       position: relative;
//       left: 30px;
//       padding: 0;
//     }
//   }

//   .about-me-text {
//     gap: 90px;
//   }

//   .btn-size {
//     position: relative;
//     left: 40px;
//     bottom: 20px;
//   }
// }

// @media screen and (min-width: 426px) and (max-width: 550px) {
//   .about-me {
//     padding-top: 20px;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 550px;
//   }

//   .random-circle-position {
//     left: 100px;
//     bottom: 20px;
//   }

//   .work-together-text {
//     font-size: 26px;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: left;
//     flex-direction: column;
//     position: relative;
//     left: 60px;
//     bottom: 40px;
//   }

//   .about-me-desc {
//     position: relative;
//     left: 40px;
//     width: 350px;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     p {
//       position: relative;
//       left: 10px;
//       padding: 0;
//     }
//   }

//   .about-me-text {
//     gap: 90px;
//   }

//   .btn-size {
//     position: relative;
//     left: 40px;
//     bottom: 20px;
//   }
// }

// @media screen and (min-width: 551px) and (max-width: 768px) {
//   .about-me {
//     padding-top: 20px;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 500px;
//   }

//   .random-circle-position {
//     left: 100px;
//     bottom: 20px;
//   }

//   .work-together-text {
//     font-size: 29px;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: row;
//     gap: 20px;
//     right: 20px;
//   }

//   .about-me-desc {
//     position: relative;
//     left: 80px;
//     width: 600px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding-top: 30px;
//     padding-bottom: 30px;

//     p {
//       padding: 0;
//     }
//   }

//   .about-me-text {
//     gap: 90px;
//   }

//   .btn-size {
//     position: relative;
//     left: 40px;
//     bottom: 20px;
//   }
// }

// @media screen and (min-width: 769px) and (max-width: 1024px) {
//   .about-me {
//     padding-top: 20px;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     height: 400px;
//   }

//   .random-circle-position {
//     left: 100px;
//     bottom: 20px;
//   }

//   .work-together-text {
//     font-size: 22px;
//     width: 30%;
//     display: flex;
//     justify-content: center;
//     align-items: left;
//     flex-direction: column;

//     h1 {
//       width: 350px;
//       font-size: 56px;
//     }
//   }

//   .about-me-desc {
//     position: relative;
//     left: 40px;
//     width: 400px;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     p {
//       font-size: 20px;
//       padding-left: 20px;
//     }
//   }

//   .about-me-text {
//     gap: 90px;
//   }

//   .btn-size {
//     position: relative;
//     left: 40px;
//     bottom: 20px;
//   }
// }
