* {
    font-family: 'Montserrat';
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a { color: inherit; }

.top-header {
  padding-top: 5px;
  padding-left: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: radial-gradient(var(--color1), 3%, transparent);
}

.logo-position img {
  cursor: pointer;
  width: 200px;
}

.wrapper-text {
  padding-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 25px;

  li {
    color: var(--color2);
    font-weight: bold;
  }
}

.circle { // the color circle that changes its color
  z-index: -1;
  position: absolute;
  bottom: 300px;
  left: -100px;
  background: linear-gradient(0.40turn, var(--color1), var(--color2));
  border-radius: 50%;
  height: 800px;
  width: 800px;
}

@media screen and (max-width: 320px) {
  .top-header {
    padding: 0;
  }

  .circle {
    height: 395px;
    width: 395px;
    bottom: 380px;
  }

  .logo-position {
    position: relative;
    right: 20px;

    img {
      width: 150px;
    }
  }

  // Code for the Navbar
  .wrapper-text {
    overflow: hidden;
    position: relative;
    top: 400px;
    left: 70px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: rgba($color: #ffffff, $alpha: .8);
    transition: all 0.6s ease-in-out;
  }

  #active:checked ~ .wrapper{
    right:0;
  }

  .menu-btn {
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid var(--color1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }

  .close {
    z-index: 1;
    width: 100%;
    height: 600px;
    pointer-events: none;
    transition: background .6s;
  }

  /* closing animation */
  #active:checked + .menu-btn span {
    transform: scaleX(0);
  }

  #active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: var(--color1);
  }

  #active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: var(--color1);
  }

  .wrapper ul{
    height: 600px;
    transform: translate(-50%, -50%);
  }

  .wrapper ul li a {
    font-size: 40px;
    z-index: 1000;
  }

  .wrapper ul li a:after{
    width: 100%;
    height: 600px;
    transform: scaleY(0);
    z-index: 1000;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: var(--color1);
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .top-header {
    padding: 0;
  }

  .circle {
    height: 435px;
    width: 435px;
    bottom: 380px;
  }

  .logo-position {
    position: relative;
    right: 35px;

    img {
      width: 150px;
    }
  }

  // Code for the Navbar
  .wrapper-text {
    overflow: hidden;
    position: relative;
    top: 400px;
    left: 90px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: rgba($color: #ffffff, $alpha: .8);
    transition: all 0.6s ease-in-out;
  }

  #active:checked ~ .wrapper {
    right:0;
  }

  .menu-btn {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid var(--color1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }

  .close {
    z-index: 1;
    width: 100%;
    height: 650px;
    pointer-events: none;
    transition: background .6s;
  }

  /* closing animation */
  #active:checked + .menu-btn span {
    transform: scaleX(0);
  }

  #active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: var(--color1);
  }

  #active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: var(--color1);
  }

  .wrapper ul{
    height: 600px;
    transform: translate(-50%, -50%);
  }

  .wrapper ul li a {
    font-size: 40px;
    z-index: 1000;
  }

  .wrapper ul li a:after{
    width: 100%;
    height: 650px;
    transform: scaleY(0);
    z-index: 1000;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: var(--color1);
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .top-header {
    padding: 0;
  }

  .circle {
    height: 475px;
    width: 475px;
    bottom: 300px;
  }

  .logo-position {
    position: relative;
    right: 35px;

    img {
      width: 150px;
    }
  }

  .wrapper-text {
    overflow: hidden;
    position: relative;
    top: 400px;
    left: 100px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // Code for the Navbar
  .wrapper{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: rgba($color: #ffffff, $alpha: .8);
    transition: all 0.6s ease-in-out;
  }

  #active:checked ~ .wrapper{
    right:0;
  }

  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid var(--color1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }

  .close {
    z-index: 1;
    width: 100%;
    height: 650px;
    pointer-events: none;
    transition: background .6s;
  }

  /* closing animation */
  #active:checked + .menu-btn span {
    transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: var(--color1);
  }
  #active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: var(--color1);
  }

  .wrapper ul{
    height: 600px;
    transform: translate(-50%, -50%);
  }
  .wrapper ul li a{
    font-size: 40px;
    font-weight: bold;
    z-index: 1000;
    padding: 5px 30px;
    transition: all 0.3s ease;
    // transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrapper ul li a:after{
    width: 100%;
    height: 650px;
    transform: scaleY(0);
    z-index: 1000;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: var(--color1);
  }
}

@media screen and (min-width: 426px) and (max-width: 550px) {
  .wrapper-text {
    overflow: hidden;
    position: relative;
    top: 370px;
    left: 260px;
    width: 100%;
    height: 650px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // Code for the Navbar
  .wrapper{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: rgba($color: #ffffff, $alpha: .8);
    transition: all 0.6s ease-in-out;
  }

  #active:checked ~ .wrapper{
    right:0;
  }

  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 30px;
    top: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid var(--color1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }

  .close {
    z-index: 1;
    width: 100%;
    height: 650px;
    pointer-events: none;
    transition: background .6s;
  }

  /* closing animation */
  #active:checked + .menu-btn span {
    transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: var(--color1);
  }
  #active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: var(--color1);
  }

  .wrapper ul{
    height: 650px;
    transform: translate(-50%, -50%);
  }
  .wrapper ul li a{
    font-size: 40px;
    font-weight: bold;
    z-index: 1000;
    padding: 5px 30px;
    transition: all 0.3s ease;
    // transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrapper ul li a:after{
    width: 100%;
    height: 650px;
    transform: scaleY(0);
    z-index: 1000;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: var(--color1);
  }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
  .wrapper-text {
    overflow: hidden;
    position: absolute;
    top: 400px;
    left: 420px;
    width: 100%;
    height: 650px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // Code for the Navbar
  .wrapper{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: rgba($color: #ffffff, $alpha: .8);
    transition: all 0.6s ease-in-out;
  }

  #active:checked ~ .wrapper{
    right:0;
  }

  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 50px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid var(--color1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }

  .close {
    z-index: 1;
    width: 100%;
    height: 650px;
    pointer-events: none;
    transition: background .6s;
  }

  /* closing animation */
  #active:checked + .menu-btn span {
    transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: var(--color1);
  }
  #active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: var(--color1);
  }

  .wrapper ul{
    height: 650px;
    transform: translate(-50%, -50%);
  }
  .wrapper ul li a{
    font-size: 40px;
    font-weight: bold;
    z-index: 1000;
    padding: 5px 30px;
    transition: all 0.3s ease;
    // transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrapper ul li a:after{
    width: 100%;
    height: 650px;
    transform: scaleY(0);
    z-index: 1000;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: var(--color1);
  }
}
